.profile-pic { 

  width: 180px; 
  @include breakpoint(medium only) { 
    width: 220px;
  }
  @include breakpoint(large up) { 
    width: 260px;  
    margin-top: 120px;  
  }
  border: 3px solid $secondary-color;
  border-radius: 50%; 
  text-align: center; 
  margin-bottom: $gutter; 
}

.tagline { 
  font-size: rem-calc(32);
  line-height: rem-calc(32);   
  word-spacing: rem-calc(-2);
  font-weight: 200;
  color: $secondary-color; 
  z-index: 2; 
  @include breakpoint(medium only) { 
    font-size: rem-calc(48);
    line-height: rem-calc(48);
  }
  @include breakpoint(large) { 
    line-height: rem-calc(72); 
    font-size: rem-calc(72);
    letter-spacing: rem-calc(-3); 
  }
}

.tagline--reversed { 
  z-index: 1;
  width: auto; 
  display: inline; 
  background-color: $secondary-color; 
  color: $primary-color;   
  line-height: 42px; 
  @include breakpoint(medium only) {
    line-height: 80px; 
  }
  @include breakpoint(large) { 
    line-height: 80px; 
  }
}


.bio--copy { 
  margin-top: $gutter/2; 
  margin-bottom: $gutter;
  font-size: rem-calc(16);
  line-height: rem-calc(24);

  @include breakpoint(small only) { 
    @media (orientation: landscape) { 
      width: 80%;
      margin-right: auto;
      margin-left: auto; 
    } 
  }
  
  @include breakpoint(medium only) { 
    $margin-top: $gutter * 1.5; 
    font-size: rem-calc(18);
  }

  @include breakpoint(large up) { 
    margin-top: $gutter; 
    font-size: rem-calc(21);
    line-height: rem-calc(28);
  }
}

.block-links { 
  .button { 
    margin-bottom: $gutter / 4;
  }
  .link-button { 
    margin-top: $gutter / 4; 
    display: block; 
  }
}


.bio--heading { 
  font-size: rem-calc(36);
  color: $primary-color; 
  margin-bottom: 0;
}

.home--links { 
  margin-top: rem-calc(30); 
}

.page--about { 
  @include breakpoint(large) { padding-top: 0; }  
}

.bio--section { 
  text-align: center; 
}


.founders--story .section--heading { 
  margin-bottom: $gutter;
}

.founders--story p { 
  @include breakpoint(medium up) {  
    padding: 0 $gutter;
  }
}

