.content-item { 
  margin-top: -1px; 
  padding-top: rem-calc($gutter);
  padding-bottom: rem-calc($gutter); 
  @include breakpoint(medium only) { 
    padding: rem-calc($gutter * 1.5); 
    padding-bottom: rem-calc($gutter * 1.5); 
  }
  @include breakpoint(large up) { 
    padding-top: rem-calc($gutter * 2);
    padding-bottom: rem-calc($gutter * 2);
  }
}

.shape-above { 
  @include breakpoint(xlarge) { height: 300px; }  
  @include breakpoint(large) { height: 150px; }
  @include breakpoint(medium) { height: 75px; }
  margin-top: 1px; 
  height: 40px; 
  clear: both; 
  display: block; 
  width: 100%; 
  background-color: $primary-color; 
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.shape-below { 
  @include breakpoint(xlarge) { height: 300px; }
  @include breakpoint(large) { height: 150px; }
  @include breakpoint(medium) { height: 75px; }  
  margin-top: -1px; 
  height: 40px;
  clear: both; 
  display: block; 
  width: 100%; 
  background-color: $primary-color;   
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.home__hero { 
  z-index: 1;
  position: absolute;
  @include breakpoint(large) {  
    top: 50%; 
    margin-top: -203px;
  }
}
