.top-bar { 
  width:100%;
  height:50px;
  z-index: 1;
  position: absolute;
  right: 0;
  top:0;
  background: none; 
}

.menu { 
  font-size: rem-calc(16);
  text-transform: uppercase;
  position: relative;
  top: 2px;
  margin-right: 2px;
  font-weight: 300;
}

.menu-icon img { 
  width: 18px; 
}

.menu.reversed--text { 
  color: $primary-color;
}

/** DEPCREATED **/ 


//homepage logo 
.logo--index { 
  margin-bottom: 20px; 
  display: block; 
  width: 110px;
  height: 87px;
  background: url(/assets/img/mobile-logo-black.svg) no-repeat; 
  @include breakpoint(large) { 
    width: 77px; 
    height: 83px; 
    background: url(/assets/img/desktop-logo-black.svg) no-repeat; 
  }
}

//homepage logo
.logo--index span { 
  display: none; 
}

.logo--not--index a { 
  @include breakpoint(small) { 
    margin-top: 50px; 
  }
  @include breakpoint(large) { 
    margin-top: 80px;
    margin-bottom: $gutter * 3; 
    width: 186px; 
    height: 146px; 
    background: url(/assets/img/desktop-logo-yellow.svg) no-repeat; 
  }
  display: block;   
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 87px;
  background: url(/assets/img/mobile-logo-yellow.svg) no-repeat; 

}

.logo--not--index a span { 
  display: none; 
}
