@include breakpoint(medium down) { 
  .section--heading { text-align: center; }
  .article--heading { text-align: center; }
  .lead { text-align: center; }
  .item--heading { text-align: center; }
  p { text-align: center; }
}

.center--text--in--block { 
  text-align: center; 
  .section--heading { text-align: center; }
  .article--heading { text-align: center; }
  .lead { text-align: center; }
  .item--heading { text-align: center; }
  p { text-align: center; }
}

.article--heading { 
  font-weight: 300; 
}

.item--heading { 
  font-size: rem-calc(18);
  font-weight: 400; 
  margin-bottom: 0; 
}

.bio--heading { 
  font-size: rem-calc(36);
  color: $primary-color; 
  margin-bottom: 0;
}

.position--subhead { 
  font-weight: 500; 
  font-size: rem-calc(20);
}

.bio--copy { 
  font-size: rem-calc(18);
  line-height: rem-calc(25);
  margin-bottom: $gutter * 1.5; 
}

.skills-copy { 
  font-size: 16px; 
  strong { 
    text-transform: uppercase; 
    font-weight: 500;
    margin-right: 5px;  
  }
}

.endorser--heading { 
  @include breakpoint(large) { 
    text-align: center;  
  }
  @include break
  font-size: rem-calc(24); 
  margin-bottom: 0; 
  font-weight: 300; 
}

.services--heading { 
  color: $primary-color;
  font-weight: 500; 
  text-align: center; 
} 

.endorser--title { 
  font-weight: 400; 
  font-size: rem-calc(18);
  text-align: center; 
}

.endorsement--copy { 
  text-align: left; 
}

.founders--story p { 
  @include breakpoint(medium up) {  
    padding: 0 $gutter;
  }
}


.text--reversed { 
  color: $secondary-color !important; 
}

.tagline { 
  font-size: rem-calc(72);
  letter-spacing: rem-calc(-3);
  color: $secondary-color; 
  z-index: 2; 
  word-spacing: rem-calc(-4);
  font-weight: 200;
  line-height: 42px; 
  @include breakpoint(medium only) {
    line-height: 80px; 
  }
  @include breakpoint(large) { 
    line-height: 80px; 
  }
}

.tagline--reversed { 
  z-index: 1;
  width: auto; 
  display: inline; 
  background-color: $secondary-color; 
  color: $primary-color;   
  line-height: 42px; 
  @include breakpoint(medium only) {
    line-height: 80px; 
  }
  @include breakpoint(large) { 
    line-height: 80px; 
  }
}

.highlight { 
  background-color: $secondary-color; 
  color: $white; 
  padding: 0px;
}

.section--heading { 
  color: $primary-color; 
  line-height: rem-calc(50); 
  margin-bottom: rem-calc(20); 
}

.lead {
  font-weight: 500; 
  font-size: rem-calc(20); 
  line-height: rem-calc(30);
}

.lead--reversed {
  color: $secondary-color;  
} 

.page__home .lead { 
  margin-top: 45px; 
  margin-bottom: 45px; 
}

.article--heading { 
  font-size: rem-calc(24);
  text-transform: uppercase; 
  margin-bottom: rem-calc(5);
}

.approach-desc { 
  font-size: rem-calc(16); 
  line-height: rem-calc(24);
}


