.center--text--in--block { 
  text-align: center; 
  .section--heading { text-align: center; }
  .article--heading { text-align: center; }
  .lead { text-align: center; }
  .item--heading { text-align: center; }
  p { text-align: center; }
}

strong { 
  font-weight: 600; 
}

.article--heading { 
  font-weight: 300; 
  font-size: rem-calc(24);
  text-transform: uppercase; 
  margin-bottom: rem-calc(5);  
}

.item--heading { 
  font-size: rem-calc(18);
  font-weight: 400; 
  margin-bottom: 0; 
}

.section--heading { 
  &.my--resume { font-weight: bold; }
  color: $primary-color; 
  line-height: rem-calc(50); 
  margin-bottom: rem-calc(20); 
  font-size: rem-calc(36);
  line-height: rem-calc(36);   
  word-spacing: rem-calc(-2);
  @include breakpoint(medium up) { 
    font-size: rem-calc(48);
    line-height: rem-calc(48);
  }
}

.lead {
  font-weight: 500; 
  font-size: rem-calc(18);
  line-height: rem-calc(24);
  @inlcude breakpoint(large up) { 
    font-size: rem-calc(21); 
    line-height: rem-calc(28);  
  }
}

.lead--reversed {
  color: $secondary-color;  
} 

.text--reversed { 
  color: $secondary-color !important; 
}

.reversed--text { 
  color: $secondary-color; 
  a { 
    color: $secondary-color; 
  }
  a:hover { 
    color: $secondary-color;
  }
  a:active { 
    color: $secondary-color;
  }
}




